.header{
    display: flex;
     position: fixed;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
     width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
    padding: 10px;
    z-index: 400;

   
}

.burger{
    display: none;
    cursor: pointer;
}

.menu{
    display: none;
    flex-direction: column;
    background-color: #2c73ca;
    width: 90%;
    height: 100vh;
    position: absolute;
    top: 720px;
    opacity: 0;
    left: 35px;
    margin: 0 auto;
    border-radius: 20px;
    animation: .6s linear ease-in-out;
    transition: .4s;
    z-index: 300;
}

.menu>header{
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}
.menu>header>span{
    font-size: 20px;
    background-color: red;
    padding: 2px 5px;
    text-align: center;
    border-radius: 100%;
}

@media (max-width:834px) {
    .header{
        justify-content: flex-start;
        gap: 273px;
        
    }
    .burger{
        display: block;
    }
    .menu{
        display: flex;
    }
}
@media (max-width:426px) {
    .header{
        justify-content: flex-start;
        gap: 119px; 
    }
    .burger{
        display: block;
    }
    .menu{
        left: 20px;
    }
}
@media (max-width:375px) {
    .header{
        justify-content: flex-start;
        gap: 100px; 
    }
    .burger{
        display: block;
    }
}@media (max-width:325px) {
    .header{
        justify-content: flex-start;
        gap: 70px; 
    }
    .burger{
        display: block;
    }
}